<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Numerical solutions to PDEs</title>
    <meta name="description"
          content="A methodology for solving (non-linear) partial differential equations using the Newton-Kantorovich method."/>
</head>

<body>

<div class="container" th:fragment="content">
    <h1>Numerical solutions to PDEs</h1>

</div>

<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<div th:fragment="specific-js">
</div>
</body>
</html>
