<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coordinate mappings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
          integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0"
          crossorigin="anonymous"
          th:href="@{/webjars/katex/0.7.1/dist/katex.min.css}">
    <link href="../../static/css/tonita.css"
          th:href="@{/css/tonita.css}" rel="stylesheet"/>
</head>

<body>

<div class="container" th:fragment="content">
    <h1>Coordinate mappings</h1>
    <p>
        It is often not the case that the natural collocation points of a discretization scheme will map out the actual
        domain of the problem to be solved. While the choice of the Legendre polynomials will naturally map onto the
        <span class="equation">\theta</span> coordinate in axial coordinates, any choice for the radial discretization
        will not cover the entirety of <span class="equation">[0, \infty)</span>. Moreover, for free boundary value
        problems, the actual domain may be unknown and the mapping may depend on the solution to the problem.
    </p>

    <p>
        One solution is always to transform the system of equations to be solved by a change of coordinates. An
        alternate approach is to algorithmically include in the numerical solver knowledge of the coordinate mapping.
        This approach has the benefit of being able to quickly adapt different choices of the discretization and
        mapping. The numerical algorithm needs to expand derivatives of the system of equations via the chain rule.
    </p>

    <p>
        In what follows, primed coordinates <span class="equation">x'</span> will be used to refer to the coordinates
        spanning the discretization's natural domain while unprimed coordinates <span class="equation">x</span> will
        span the physical coordinates of the problem being solved. Multiple dimensions will be illustrated via indices
        <span class="equation">x^i</span> with the index running from <span class="equation">0 ... d</span> .
    </p>

    <h2>Basic quantities</h2>

    <p>
        The basic expansion of partial derivatives follows from application of the chain rule:
        <span class="numbered equation">
            \frac{\partial u }{\partial x^i} = \sum_{k=0}^d \frac{\partial x'{}^k}{\partial x^i}\frac{\partial u }{\partial x'{}^k}.
        </span>
        The second derivative follows by subsequent expansions of the chain rule
        <span class="numbered equation">
            \frac{\partial^2 u }{\partial x^i\partial x^j} = \frac{\partial}{\partial x^j} \left(
            \sum_{k=0}^d \frac{\partial x'{}^k}{\partial x^i}\frac{\partial u }{\partial x'{}^k}\right)
        </span>
        followed by application of the product rule
        <span class="numbered equation">
            \frac{\partial^2 u }{\partial x^i\partial x^j} = \sum_{k=0}^d \left(
                \frac{\partial^2 x'{}^k}{\partial x^i \partial x^j}\frac{\partial u }{\partial x'{}^k}
                + \frac{\partial x'{}^k}{\partial x^i}\frac{\partial}{\partial x^j}\frac{\partial u }{\partial x'{}^k}
            \right)
        </span>
        arriving at the final expansion
        <span class="numbered equation">
            \frac{\partial^2 u }{\partial x^i\partial x^j} =
                \sum_{k=0}^d \frac{\partial^2 x'{}^k}{\partial x^i \partial x^j}\frac{\partial u }{\partial x'{}^k}
                + \sum_{k=0}^d \sum_{l=0}^d \frac{\partial x'{}^k}{\partial x^i}\frac{\partial x'{}^l}{\partial x^j}\frac{\partial^2 u }{\partial x'{}^k\partial x'{}^l}.
        </span>
    </p>

    <h2>Matrix form of differential operators</h2>

    <p>
        In constructing the Jacobian of the system of equations, coefficients multiplied by the base derivative
        operators get embedded into the overall matrix (see <a href="/templates/multidimensionalIndexing.html">
        multidimensional indexing</a>). These differential operators can be represented (for a single field) as
        <span class="equation">\mathbf{D}_i</span> in the physical coordinates and <span class="equation">
        \mathbf{D'}_{i}</span> in the discrete coordinates. The discrete operators are known and the physical operators
        can be derived from the above expansions.
    </p>

    <p>
        The single derivative operator is
        <span class="numbered equation">
            \mathbf{D}_i = \sum_{k=0}^d \frac{\partial x'{}^k}{\partial x^i} \mathbf{D'}_{k}.
        </span>
        while the second derivative operator is
        <span class="numbered equation">
            \mathbf{D}_{ij} =
                \sum_{k=0}^d \frac{\partial^2 x'{}^k}{\partial x^i \partial x^j}\mathbf{D'}_{k}
                + \sum_{k=0}^d \sum_{l=0}^d \frac{\partial x'{}^k}{\partial x^i}\frac{\partial x'{}^l}{\partial x^j}\mathbf{D'}_{kl}.
        </span>
    </p>

    <h2>Free boundaries, variable coordinates</h2>

    <p>
        Some particular problems classify as free boundary value problems. Especially problems involving stellar
        surfaces, one of the unknowns of the problem is the actual location of the surface. This surface will be
        important if one wants to split the domains into an interior and exterior and solve for the smooth fields in
        either domain. Constants or entire functions may need to be introduced to solve for the surface. In general
        it is tedious to rewrite the differential equations in terms of the discrete coordinates as above, so the
        coordinates themselves become functions of the constants so introduced and derivatives of functions are also
        dependent on these mapping unknowns. However, the Jacobians for these constants can be computed from the
        existing
        jacobians with respect to field derivatives and additional Jacobians involving the coordinates themselves.
    </p>

    <p>
        Specifically, for a differential equation <span class="equation">\mathcal{F} = 0</span>, the Jacobian can be
        expanded symbolically as
        <span class="numbered equation">
            \frac{\partial \mathcal{F}}{\partial c_x} =
                \sum_{i=0}^d \sum_{j=i}^d \frac{\partial \mathcal{F}}{\partial \frac{\partial^2 u}{\partial x^i \partial x^j}} \frac{\partial^3 u }{\partial x^i \partial x^j\partial c_x}
                + \sum_{i=0}^d \frac{\partial \mathcal{F}}{\partial \frac{\partial u}{\partial x^i}} \frac{\partial^2 u }{\partial x^i\partial c_x}
                + \sum_{i=0}^d \frac{\partial \mathcal{F}}{\partial x^i} \frac{\partial x^i}{\partial c_x}.
        </span>
        The term <span class="equation">\frac{\partial x^i}{\partial c_x}</span> is a function of the mapping, but the
        higher derivatives can be further expanded. Derivatives of fields will themselves be computed according to the
        rules described above. In those terms, only the coordinate derivatives will depend on the mapping variables. So
        for the second derivative term,
        <span class="numbered equation">
            \frac{\partial}{\partial c_x} \frac{\partial u }{\partial x^i} =
                \frac{\partial}{\partial c_x} \left( \sum_{k=0}^d \frac{\partial x'{}^k}{\partial x^i}\frac{\partial u }{\partial x'{}^k} \right) =
                \sum_{k=0}^d \frac{\partial^2 x'{}^k}{\partial x^i \partial c_x} \frac{\partial u }{\partial x'{}^k}
        </span>
        while the third derivative term becomes
        <span class="numbered equation">
            \frac{\partial}{\partial c_x} \frac{\partial^2 u }{\partial x^i\partial x^j} =
                \frac{\partial}{\partial c_x} \left( \sum_{k=0}^d \frac{\partial^2 x'{}^k}{\partial x^i \partial x^j}\frac{\partial u }{\partial x'{}^k}
                    + \sum_{k=0}^d \sum_{l=0}^d \frac{\partial x'{}^k}{\partial x^i}\frac{\partial x'{}^l}{\partial x^j}\frac{\partial^2 u }{\partial x'{}^k\partial x'{}^l} \right) =
                \sum_{k=0}^d \frac{\partial^3 x'{}^k}{\partial x^i \partial x^j \partial c_x}\frac{\partial u }{\partial x'{}^k}
                    + \sum_{k=0}^d \sum_{l=0}^d \left( \frac{\partial x'{}^k}{\partial x^i}\frac{\partial^2 x'{}^l}{\partial x^j \partial c_x} + \frac{\partial^2 x'{}^k}{\partial x^i \partial c_x}\frac{\partial x'{}^l}{\partial x^j}\right)\frac{\partial^2 u }{\partial x'{}^k\partial x'{}^l}.
        </span>
    </p>

    <h3>Example: linear (affine) mapping</h3>

    <p>
        A simple yet useful mapping is a linear mapping with variable end points (taking a, for me, canonical domain of
        <span class="equation"> [-1, 1]</span>):

        <span class="numbered equation">
            [-1, 1] \rightarrow [a, b].
        </span>

        The following formula provides the mapping,

        <span class="numbered equation">
            x_i = \frac{b_i - a_i}{2} x_i' + \frac{a_i + b_i}{2},
        </span>

        and the following provides the inverse

        <span class="numbered equation">
            x_i' = \frac{2}{b_i - a_i} x_i - \frac{a_i + b_i}{b_i - a_i},
        </span>
    </p>

    <p>
        The derivatives are straightforward:
        <span class="numbered equation">
            \frac{\partial x'{}^i}{\partial x^j} = \frac{2}{b_i - a_i} \delta^i{}_j,
        </span>

        <span class="numbered equation">
            \frac{\partial x^i}{\partial a_i} = \frac{1 - x_i'}{2},
        </span>

        <span class="numbered equation">
            \frac{\partial x^i}{\partial b_i} = \frac{1 + x_i'}{2},
        </span>

        <span class="numbered equation">
            \frac{\partial^2 x'{}^i}{\partial x^j \partial x^k} = 0,
        </span>

        <span class="numbered equation">
            \frac{\partial^2 x'{}^i}{\partial x^j \partial a_i} = \frac{2}{\left(b_i - a_i\right)^2} \delta^i{}_j,
        </span>

        <span class="numbered equation">
            \frac{\partial^2 x'{}^i}{\partial x^j \partial b_i} = -\frac{2}{\left(b_i - a_i\right)^2} \delta^i{}_j,
        </span>

        <span class="numbered equation">
            \frac{\partial^3 x'{}^i}{\partial x^j \partial x^k \partial a_i} = \frac{\partial^3 x'{}^i}{\partial x^j \partial x^k \partial b_i} = 0.
        </span>

        These quantities allow one to compute derivatives of fields with respect to physical coordinates, given the
        derivatives with respect to discrete coordinates and allows one to compute jacobians of the differential
        equations with respect to the unknown values of the endpoints.
    </p>
</div>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<div th:fragment="specific-js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"
            integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1"
            crossorigin="anonymous"
            th:src="@{/webjars/katex/0.7.1/dist/katex.min.js}"></script>
    <script>
    </script>
    <script src="../../static/js/equations.js"
            th:src="@{/js/equations.js}"></script>
</div>
</body>
</html>
