<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pseudospectral methods</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
          integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0"
          crossorigin="anonymous"
          th:href="@{/webjars/katex/0.7.1/dist/katex.min.css}">
    <link href="../../static/css/tonita.css"
          th:href="@{/css/tonita.css}" rel="stylesheet"/>
</head>

<body>

<div class="container" th:fragment="content">
    <h1>Pseudospectral methods</h1>
    <p>
        This page introduces pseudospectral methods. In fact introductions to pseudo spectral methods are already quite
        prevalent, a good introduction can be found online on
        <a href="http://www-personal.umich.edu/~jpboyd/BOOK_Spectral2000.html">the academic homepage of the author, John
            P. Boyd.</a>
        This page is mostly an entry of convenience for myself, to remind myself of certain results and as a proof of
        concept of the javascript libraries backing this page.
    </p>

    <h2>The Chebyshev polynomials</h2>

    <p>
        The Chebyshev polynomials form an interesting class of polynomials for use in solving differential equations
        numerically using pseudospectral methods. The polynomials can be defined by the recurrence relation
        <span class="equation numbered">
            \begin{array}{rcl}T_0(x) &=& 1\\T_1(x) &=& x\\T_{n+1}(x) &=& 2xT_n(x) - T_{n-1}(x)\end{array}
        </span>
        Although it is tempting to implement such an equation in code using recurrence directly, it is actually better
        to convert the evaluation to an iteration. The above recurrence relationship can be implemented in Javascript
        with the following code
    </p>

    <pre>
    var ti = x;
    var tiMinus1 = 1;
    for (var i = 1; i &lt; n; i++) {
        var tiPlus1 = 2*x*ti - tiMinus1;
        tiMinus1 = ti;
        ti = tiPlus1;
    }
    return ti;</pre>

    <p>
        The first few Chebyshev polynomials are plotted below, the values are computed directly by your browser, so
        beware choosing too high a resolution or too many curves! You can change the range of the functions plotting and
        the sampling spacing.
    </p>

    <div class="plot-container">
        <div id="bases" class="plot-placeholder"></div>
    </div>
    <form class="form-inline" href="#" id="sampleChebyshev">
        <div class="form-group">
            <div class="input-group">
                <label for="minN" class="input-group-addon" id="minN-addon">Minimum n</label>
                <input type="text" class="form-control" id="minN" name="minN" value="1" aria-describedby="minN-addon"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label for="maxN" class="input-group-addon" id="maxN-addon">Maximum n</label>
                <input type="text" class="form-control" id="maxN" name="maxN" value="6" aria-describedby="maxN-addon"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label for="delta" class="input-group-addon" id="delta-addon">Resolution</label>
                <input type="text" class="form-control" id="delta" name="delta" value="0.02"
                       aria-describedby="delta-addon"/>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Replot" onclick="sampleChebyshev();return false;"/>
        </div>
    </form>

    <h2>Interpolation and collocation with Chebyshev polynomials</h2>

    <p>
        In pseudospectral methods, functions of interest are approximated as interpolating polynomials. The
        straightforward definition of a function arises by considering a function to be represented by its coefficients
        <span class="equation">\{a_n\}</span> in an expansion over the basis polynomials
        <span class="equation">T_n(x)</span> . This creates an approximation
        <span class="equation numbered">
            \tilde{f}(x)=\displaystyle\sum_{n=0}^{N}a_nT_n(x)
        </span>
        This representation of a function is an approximation due to the truncation of the series at fixed
        <code>N</code>. Using the tools of analysis, one can represent certain classes of functions using the infinite
        series representation in terms of the Chebyshev basis <span class="equation">T_n(x)</span> . In numerical
        analysis, the series is generally truncated. Because most functions cannot be represented exactly by a fixed
        order polynomial, truncating the series leads to errors in the approximation. This source of error may be
        distinguished from other types of errors and called the <strong>truncation error</strong> of the approximation.
        Because most processes that produce an approximate function will not yield the exact values of
        <span class="equation">\{a_n\}</span>, there are generally other forms of discretization errors present.
    </p>

    <p>
        In practice, the so-called coefficient representation of the approximation is sometimes inconvenient to work
        with. This leads to an alternate representation of the approximation which is referred to as the configuration:
        <span class="equation">{f_n}={\tilde{f}(x_n)}</span>. By definition, the configuration is just the value of the
        approximation evaluated at special points known as collocation points. Two sets of collocation points are
        frequently used, the roots
        <span class="equation numbered">\{x_i\}_{i=1}^{N} = \left\{\cos{\left( \frac{(2i-1)\pi}{2N} \right)}\right\}_{i=1}^{N}</span>
        and the extrema
        <span class="equation numbered">\{x_i\}_{i=0}^{N-1} = \left\{\cos{\left( \frac{\pi i}{N-1} \right)}\right\}_{i=0}^{N-1}</span>
        Particular care should be taken in regards to ordering of the points. Above one can note that for <span
            class="equation">i</span>
        small, one achieves large <span class="equation">x</span>. To illustrate these points, we can now create an
        approximation for the
        exponential function and the logistic function represented by a configuration which is exact at the collocation
        points.
    </p>

    <div class="plot-container">
        <div id="collocations" class="plot-placeholder"></div>
    </div>

    <p>
        The data producing the lines for the exponential and logistic function are sampled at a much higher rate than
        the pseudospectral approximations since the plotting library would other wise produce a very crude
        representation. One sees that the 10th order basis function produces 10 roots and 11 extrema. The extrema end
        points are often used since this set of collocation points includes the boundaries enabling easy specification
        of boundary conditions. The roots are useful in cases where regularity is desired: no explicit regularity
        condition is necessary.
    </p>

    <p>
        When using the configuration representation of an interpolating polynomial, the exact same approximation can
        be represented in terms of a different polynomial basis, the Cardinal functions:
        <span class="equation numbered">\tilde{f}(x) = \displaystyle \sum_{n=0}^{N} f_n C_n(x)</span>
        While a closed form of the Cardinal functions can be given, it is not necessarily the most convenient method
        for computing interpolated values of a function.
    </p>

    <h2>Derivatives with the configuration</h2>

    <p>
        From now on we specialize to the configuration representation.
    </p>

    <p>
        For me, a fascinating point of numerical methods comes about from the realization that in calculus, the
        derivative is a linear operator. The axioms of a linear operator are well known and can be <a
            href="https://en.wikipedia.org/wiki/Linear_map#Definition_and_first_consequences">quickly looked up</a>
        although it may be more authoritative to use a text book. By choosing to isolate our problem to a particular
        vector space, in particular <span class="equation">\mathbb{P}_N</span> , the linear derivative operator can
        automatically be represented exactly by a particular matrix; differentiation is equivalent to multiplication by
        this matrix: <span class="equation">\frac{df}{dx} \rightarrow d_{jk}f^j = \mathbf{d}\vec{f}</span>. The exact
        structure of the matrix will depend on
        the basis chosen to represent polynomials in <span class="equation">\mathbb{P}_N</span>. Of
        course, since the interpolating polynomial is an approximation of the true function of interest, the derivative
        is itself an approximation of the true derivative of interest. The derivative is exact in the sense that it
        is the exact derivative of the interpolating polynomial. The differentiation matrix can be derived by following
        the discussion in Fundamentals of Engineering Numerical Analysis, (by Parviz Moin) exercise 19 of chapter 6. The
        elements of the differentiation matrix for a configuration using the collocation points of the extrema is given
        by
        <span class="numbered equation">
            \begin{array}{lr}
            d_{jk} = \frac{c_j (-1)^{j+k}}{c_k (x_j - x_k)} & j \ne k; j,k \ne 0,N \\
            d_{jj} = \frac{-x_j}{2(1- x_j^2)} & j \ne 0,N \\
            d_{jj} = \frac{2N^2 + 1}{6x_j} & j = 0,N
            \end{array}
        </span>
        with coefficients given by
        <span class="numbered equation">
            c_i = \left\{\begin{array}{lr}1 & i \ne 0,N \\ 2 & i = 0, N \end{array}\right.
        </span>
        The above mentioned exercise should really be followed so that one can also compute the coefficients of the
        differentiation matrix when the configuration is given using the collocation points of the roots
        <span class="numbered equation">
            \begin{array}{l}
            d_{jk} = \sqrt{\frac{1-x_k^2}{1-x_j^2}}\frac{(-1)^{j+k}}{x_j - x_k} \\
            d_{jj} = \frac{x_j}{2(1-x_j^2)}
            \end{array}
        </span>
    </p>

    <h2>Solving differential equations with pseudospectral approximations</h2>

    <p>
        A general first order differential equation can be written in the extremely abstract functional form:
        <span class="numbered equation">
            \mathcal{L}[f,df] = 0
        </span>
        Since linear problems are generally tractable and nonlinear problems are generally not, provided that the
        Gâteaux derivative of the functional is linear, then Newton's method can be used to repeatedly improve on a
        guess via <span class="equation">f(x) = f_0(x) - \delta(x)</span>. This leads to a series of linear problems
        <span class="numbered equation">
            \mathcal{L}[f_0,df_0]  - d\mathcal{L}[f_0, df_0; \delta] = 0
        </span>
        The linearity of the Gâteaux derivative is necessary to expand the functional in this manner. The easiest way to
        compute the derivative is using the definition of the derivative
        <span class="numbered equation">
            d\mathcal{L}[f;\delta] = \displaystyle{\lim_{\lambda \rightarrow 0}} \frac{\mathcal{L}[f + \lambda\delta] - \mathcal{L}[f]}{\lambda}
        </span>
        which will be linear for a lot of problems of interest.
    </p>

    <p>
        As a straightforward, non-trivial example. I'll solve the logistic equation above. The logistic equation is a
        simple equation for population growth which is more realistic than naive exponential models. In the logistic
        model, the growth is proportional to population, but as the population approaches the carrying capacity the
        growth slows down. Since I want to display the full behavior, as above I will choose a large growth factor. The
        logistic model is given by
        <span class="numbered equation">
            \frac{d}{dx}f(x) = 5f(x) (1 - f(x)) = 5(f(x) - f(x)^2)
        </span>
        Due to the fact that the equation is non-linear, a direct solution is not possible. The Gâteaux derivative of
        this logistic equation can be computed
        <span class="numbered equation">
            \begin{array}{rcl}
            \displaystyle{\lim_{\lambda \rightarrow 0}} \frac{\mathcal{L}[f + \lambda\delta] - \mathcal{L}[f]}{\lambda}
            &=&
            \displaystyle{\lim_{\lambda \rightarrow 0}} \frac{\left(\frac{df}{dx} + \lambda\frac{d\delta}{dx} - 5(f + \lambda\delta) + 5(f + \lambda\delta)^2\right) - (\frac{df}{dx} - 5f + 5f^2)}{\lambda}
            \\
            &=& \displaystyle{\lim_{\lambda \rightarrow 0}} \frac{\lambda\frac{d\delta}{dx} - 5\lambda \delta + 10 \lambda\delta f + 5 \lambda^2\delta^2}{\lambda}\\
            &=& \displaystyle{\lim_{\lambda \rightarrow 0}} \frac{d\delta}{dx} - 5 \delta + 10 \delta f + 5 \lambda\delta^2 \\
            &=& \frac{d\delta}{dx} - 5 \delta + 10 \delta f
            \end{array}
        </span>
        Together with the above explanation, the following problem can be repeatedly solved to find the population
        growth
        under the logistic model
        <span class="numbered equation">
            \left(\mathbb{D} + 10f_0 - 5\right)\delta = \frac{d}{dx}f(x) - 5f_0+f_0^2
        </span>
    </p>

    <p>
        Since the solution is found using an iterative Newton's method, an initial guess gets subsequently improved at
        each step. A choice of the number of points/maximum power of the polynomial to approximate the solution with
        should be chosen. This choice is sometimes referred to as rank.
    </p>

    <div class="plot-container">
        <div id="solutions" class="plot-placeholder"></div>
    </div>
    <form class="form-inline" href="#" id="solution">
        <div class="form-group">
            <div class="input-group">
                <label for="rank" class="input-group-addon" id="rank-addon">Rank</label>
                <input type="text" class="form-control" id="rank" name="rank" value="10" aria-describedby="rank-addon"/>
                <div class="input-group-btn">
                    <input class="btn btn-default" type="button" value="Initialize" onclick="initializeSolution()"/>
                    <input class="btn btn-primary" type="button" value="Iterate" onclick="iterate()"/>
                </div>
            </div>
        </div>
    </form>
    <div class="plot-container">
        <div id="errors" class="plot-placeholder"></div>
    </div>

    <h2>Spectral convergence</h2>

    <p>
        Measures of errors are important in numerical methods. The gold standard being proof of convergence to a true
        solution. In general, formulating a proof that the approximations generated by the numerical method converges
        to the true solution to the differential equations eludes the practitioner. In these cases, the practitioner
        generally is satisfied to measure that the numerical approximations appear to be converging towards something.
        Then it is merely assumed that the observed convergence may be arbitrarily continued and that the thing being
        converged to is in fact a solution to the differential equation.
    </p>

    <p>
        The rate of convergence in general depends on choice of norm. Famously, the Fourier series for a square wave
        does not converge in the infinity norm but converges in the Euclidean norm (dubbed the Gibbs phenomenon).
        Generally, the difference is not so severe. Since the true solution is not known in situations that are not
        toy problems, normally the most accurate approximation for the solution stands in as the solution.
    </p>

    <p>
        A common choice of norm is the <span class="equation">L^2</span> norm:
        <span class="numbered equation">
            \left|\phi\right| = \sqrt{\int{\left| \phi(x) \right|^2 dx}}
        </span>
        the other popular choice being the infinity norm
        <span class="numbered equation">
            \left|\phi\right| = \max_x\left| \phi(x) \right|
        </span>
        In either case, a measure of error between the solution <span class="equation">U</span> and the nth
        approximation <span class="equation">u_n</span> is
        <span class="numbered equation">
            e_n = \left|u_n - u_{n_\mathrm{max}}\right|.
        </span>
    </p>

</div>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<div th:fragment="specific-js">
    <script th:src="@{/webjars/flot/0.8.3/jquery.flot.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"
            integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1"
            crossorigin="anonymous"
            th:src="@{/webjars/katex/0.7.1/dist/katex.min.js}"></script>
    <script>
    </script>
    <script src="../../static/js/equations.js"
            th:src="@{/js/equations.js}"></script>
    <script src="../../static/js/formvalidating.js"
            th:src="@{/js/formvalidating.js}"></script>
    <script src="../../static/js/matrix.js"
            th:src="@{/js/matrix.js}"></script>
    <script src="../../static/js/chebyshev.js"
            th:src="@{/js/chebyshev.js}"></script>
    <script src="../../static/js/page-specific/pseudospectral.js"
            th:src="@{/js/page-specific/pseudospectral.js}"></script>
</div>
</body>
</html>
