body {
    padding-top: 50px;
}

span.equation-numbering {
    float: right;
}

img.numbered-equation {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.plot-container {
    box-sizing: border-box;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.plot-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}