<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
</head>

<body>

<div class="container" th:fragment="content">
    <h1>Welcome</h1>

    <p>
        For now, there isn't much to see here. In my spare time I work on various things and I decided to put some of
        them here. You can use the menu to navigate to some of the things I have made available.
    </p>

</div>

</body>
</html>
