<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Links</title>
</head>

<body>

<div class="container" th:fragment="links">
    <h2>Links</h2>
    <dl th:each="link : ${links}">
        <dt>
            <a href="#" th:href="${link.address}" th:text="${link.title}">Article title</a>
        </dt>
        <dd th:text="${link.description}">A brief description of the article in question.</dd>
    </dl>
</div>

</body>
</html>