<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tolman-Oppenheimer-Volkoff (TOV) equations</title>
    <meta name="description"
          content="Relativistic equations for a self gravitating, spherically symmetric ball of fluid."/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
          integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0"
          crossorigin="anonymous"
          th:href="@{/webjars/katex/0.7.1/dist/katex.min.css}">
    <link href="../../static/css/tonita.css"
          th:href="@{/css/tonita.css}" rel="stylesheet"/>
</head>

<body>

<div class="container" th:fragment="content">
    <h1>TOV equations</h1>

    <p>
        The Tolman-Oppenheimer-Volkoff equations are the relativistic equations for a static, spherically symmetric
        star (fluid ball) in hydrostatic equilibrium. The Einstein equations and hydrodynamic equations are
        simultaneously solved to find the solutions. The derivations of the equations often starts from an exponential
        form of the metric and makes a Schwarzschild like mass substitution near the end. It is as illustrative to start
        directly from the mass form of the metric
        <span class="numbered equation">
            g_{\mu\nu} = -e^{2\Phi(r)}dt^2 + \frac{dr^2}{1-\frac{2m(r)}{r}} + r^2\left(d\theta^2 + \sin^2\theta d\phi^2\right)
        </span>
    </p>

    <h2>The Einstein equations</h2>

    <p>
        The stress energy tensor is derived from the above metric and the normal stress energy tensor for a perfect
        fluid, given in terms of the total energy density of the fluid <span class="equation">\rho</span>, the pressure
        <span class="equation">p</span> and the four velocity of the fluid element <span class="equation">u^a</span>:
        <span class="numbered equation">
            T_{ab} = \rho u_au_b + p\left(u_au_b + g_{ab} \right)
        </span>
        In a static spacetime with the metric above, the four velocity of the fluid follows the integral curves of the
        time coordinate
        <span class="numbered equation">
            u^\mu = e^{-\Phi(r)}\partial_t \equiv \left(e^{-\Phi(r)},0,0,0 \right)
        </span>
        or as a 1-form
        <span class="numbered equation">
            u_\mu = -e^{\Phi(r)}dt \equiv \left(-e^{\Phi(r)},0,0,0 \right)
        </span>
        Therefore, the stress energy tensor is given in terms of the variables as
        <span class="numbered equation">
            T_{\mu\nu} = \rho e^{2\Phi} dt^2 + \frac{Pdr^2}{1-\frac{2m}{r}} +Pr^2\left(d\theta^2 + \sin^2\theta d\phi^2 \right).
        </span>
    </p>

    <p>
        Using the metric and stress energy tensor, the Einstein equations <span
            class="equation">G_{ab} = 8\pi T_{ab}</span> can be computed. This yields two equations
        <span class="numbered equation">
            \frac{dm}{dr}=4\pi r^2\rho
        </span>
        and
        <span class="numbered equation">
            \frac{d\Phi}{dr}=\frac{m + 4 \pi r^3 p}{r^2 - 2 r m}
        </span>
    </p>

    <h2>Conservation of stress energy</h2>

    <p>
        The divergence of the stress energy can be readily computed from the mixed form of the stress energy tensor
        <span class="numbered equation">
            \nabla_b T_a{}^b = \nabla_b \left(\rho u_a u^b + p(u_a u^b + \delta_a{}^b)\right)
        </span>
        This equation can be expanded and the covariant derivatives of scalar fields replaced with partial derivatives
        to yield
        <span class="numbered equation">
            \nabla_b T_a{}^b = u_a u^b \partial_b (\rho  + p) + (\rho + p)\nabla_b u_a u^b + \partial_a p
        </span>
        Next the covariant derivatives can be expanded in place of their definitions in terms of the Christoffel
        symbols
        <span class="numbered equation">
            \nabla_b T_a{}^b = u_a u^b \partial_b (\rho  + p) +
            (\rho + p) \left(\partial_b u_a u^b - \Gamma^c{}_{ab} u_c u^b + \Gamma^b{}_{bc} u_a u^c\right) + \partial_a p
        </span>
        For the TOV equations, the only non-vanishing part of the four-velocity is the <span class="equation">t</span>
        component, while the only variable that the fields depend upon is <span class="equation">r</span>. This leaves
        the following equation
        <span class="numbered equation">
            \partial_r p - (\rho  + p) \Gamma^t{}_{rt} u_t u^t + (\rho  + p) \Gamma^\mu{}_{\mu t} u_t u^t = 0
        </span>
        Here the multiplication of the covariant and contravariant component of the four velocity yield <span
            class="equation">-1</span> simplifying the expression to
        <span class="numbered equation">
            \partial_r p + (\rho  + p) \Gamma^t{}_{rt} - (\rho  + p) \Gamma^b{}_{bt} = 0
        </span>
        The only non-vanishing Christoffel symbol is the <span class="equation">{t,r,t}</span> component (equal to the
        radial derivative of the lapse field phi), so the equation for hydrostatic equilibrium is
        <span class="numbered equation">
            \frac{dP}{dr} = -(\rho + p) \frac{d\Phi}{dr} = -(\rho + p) \frac{m + 4 \pi r^3 p}{r^2 - 2 r m}.
        </span>
    </p>

    <h2>Boundary conditions</h2>

    <p>
        The problem of solving the forgoing equations for a spherical star defines a free boundary problem, where the
        radius of the star is unknown. The inner boundary conditions for <span class="equation">m</span> and
        <span class="equation">p</span> are straightforward for an initial value problem, while the boundary condition
        for <span class="equation">\Phi</span> arises by requiring that at the surface of the star
        <span class="equation">r_s</span> the metric matches the Schwarzschild metric:

        <span class="numbered equation">
            m(0) = 0,
        </span>
        <span class="numbered equation">
            p(0) = p_c,
        </span>
        <span class="numbered equation">
            p(r_s) = 0,
        </span>
        <span class="numbered equation" id="phi_surface_bc">
            \Phi(r_s) = \frac{1}{2} \ln \left( 1 - \frac{ 2 m(r_s) }{ r_s } \right).
        </span>

        The central pressure <span class="equation">p_c</span> is a free parameter of the problem.
        If solving the equations using integration from <span class="equation">r = 0 \rightarrow r_s</span> it is
        easier to solve with
        <span class="numbered equation">
            \Phi(0) = 0
        </span>
        and integrate the entire solution and then find a constant value which can be added to
        <span class="equation">\Phi</span> to satisfy <a class="eqref" href="#phi_surface_bc">the surface
        boundary condition</a>.
    </p>

    <h2>Equations of state</h2>

    <p>
        Realistic equations of state are research problems in and of themself and generally result in tables (often
        requiring ad hoc "smoothing" treatments). There are however two common closed form equations of state used in
        structural studies.
    </p>

    <p>
        The first closed form equation of state is the simplest, the constant density equation of state. For this
        equation of state, the total energy density is constant and not a function of pressure or radius
        <span class="numbered equation">
            \rho(p) = \rho_c.
        </span>
    </p>

    <p>
        The second closed form equation of state is known as the polytropic equation of state. It is usually given in
        two parts, first the adiabatic pressure term
        <span class="numbered equation">
            p = K (m_b n)^\gamma = K \rho_0{}^\gamma
        </span>
        with <span class="equation">m_b</span> the average rest mass per particle (baryon),
        <span class="equation">n</span> the number density of particles, <span class="equation">\rho_0</span> the rest
        mass density, and <span class="equation">K</span> and <span class="equation">\gamma</span> are constants.
        The second term is the ideal gas relation for the specific internal energy,
        <span class="numbered equation">
            \epsilon = \frac{p}{\rho_0(1 - \gamma)}
        </span>
        which gives the relation for the total energy density
        <span class="numbered equation">
            \rho = \rho_0(1 + \epsilon) = \rho_0 + \frac{K \rho_0{}^\gamma}{\gamma - 1}.
        </span>
        This latter relation can also be derived from the first law of thermodynamics for an adiabatic fluid
        <span class="numbered equation">
            d\left(\frac{\rho}{\rho_0}\right) = -Pd\left(\frac{1}{\rho_0}\right)
        </span>
        by choosing the constant of integration properly (by requiring
        <span class="equation">\lim_{\rho_0 \rightarrow 0} \rho / \rho_0 = 1</span>).
    </p>

    <h2>References</h2>

    <p>
        The straightforward derivation of the equations can also be found in
        <cite data-authors="Stuart L. Shapiro, Saul A. Teukolsky" data-section="5.7">
            Black Holes, White Dwarfs and Neutron Stars
        </cite>.
        However, they use an exponential term for the radial part of the initial metric before making a change of
        variables to the mass potential. Here the mass potential is used from the beginning.
    </p>
</div>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<div th:fragment="specific-js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"
            integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1"
            crossorigin="anonymous"
            th:src="@{/webjars/katex/0.7.1/dist/katex.min.js}"></script>
    <script src="../../static/js/equations.js"
            th:src="@{/js/equations.js}"></script>
</div>
</body>
</html>
